name: PR opened

on:
  pull_request:
    types: [opened, reopened]

jobs:
  pr-merged:
    name: "PR opened"
    runs-on: ubuntu-latest
    steps:
      - name: curl
        with:
          args: -X POST -u ${{ secrets.CI_BOT_USERNAME }}:${{ secrets.CI_BOT_PASSWORD }} '${{ secrets.CI_BOT_URL }}/github/pr/${{ github.event.pull_request.number }}/opened'
