name: Release Published

on:
  release:
    types: [published]

jobs:

  release:
    name: "Release Published"
    runs-on: ubuntu-latest
    steps:
      - name: Debug Github reference
        run: echo PR ${GITHUB_REF}
      - name: Debug PR number
        run: echo ${{ github.event.pull_request.number }}
      - name: Debug Release Tag Name 
        run: echo ${{ github.event.release.tag_name }}
