name: Release Published

on:
  release:
    types: [published]

jobs:
  release-published:
    name: "Release published"
    runs-on: ubuntu-latest
    steps: 
      - name: curl
        run: curl --fail -X POST -u ${{ secrets.CI_BOT_USERNAME }}:${{ secrets.CI_BOT_PASSWORD }} '${{ secrets.CI_BOT_URL }}/github/release/${{ github.event.release.tag_name }}'

