name: Tag Created

on:
  create:
    tags:
      - '[0-9]{6}.[0-9]+'

jobs:
  tag-created:
    name: "Tag Created"
    runs-on: ubuntu-latest
    steps:
      - name: Define tag name
        id: vars
        run: echo "::set-output name=TAG_NAME::${GITHUB_REF:10}"
      - name: curl
        run: curl --fail -X POST -u ${{ secrets.CI_BOT_USERNAME }}:${{ secrets.CI_BOT_PASSWORD }} '${{ secrets.CI_BOT_URL }}/github/tag-created/${{ steps.vars.outputs.TAG_NAME }}'
